/BinaryTreesExercises/.vs/BinaryTreesExercises
/BinaryTreesExercises/Ejercicio01/bin/Debug/net8.0
/BinaryTreesExercises/Ejercicio01/obj
/.vs/BinaryTreesExercises
/Ejercicio01/bin/Debug/net8.0
/Ejercicio01/obj
/.vs/ProjectEvaluation
/Exercise_02/bin/Debug/net8.0
/Exercise_02/obj
/Exercise_03/bin/Debug/net8.0
/Exercise_03/obj
/Exercise_04/bin/Debug/net8.0
/Exercise_04/obj
/Exercise_05/bin/Debug/net8.0
/Exercise_05/obj
/Exercise_06/bin/Debug/net8.0
/Exercise_06/obj
/Exercise_07/bin/Debug/net8.0
/Exercise_07/obj
