/BinaryTreesExercises/.vs/BinaryTreesExercises
/BinaryTreesExercises/Ejercicio01/bin/Debug/net8.0
/BinaryTreesExercises/Ejercicio01/obj
/.vs/BinaryTreesExercises
/Ejercicio01/bin/Debug/net8.0
/Ejercicio01/obj
